:root {
  --bg: #111;
  --fg: rgb(216, 216, 216);
  --t2: rgb(105, 131, 179);
  --t1: rgb(26, 7, 107);

  /* --black-1-1: #2196F3;
  --black-1-2: #90CAF9;
  --black-2-1: #8E24AA;
  --black-2-2: #CE93D8;
  --black-3-1: #43A047;
  --black-3-2: #A5D6A7;

  --white-1-1: #1976D2;
  --white-1-2: #BBDEFB;
  --white-2-1: #6A1B9A;
  --white-2-2: #E1BEE7;
  --white-3-1: #2E7D32;
  --white-3-2: #C8E6C9; */

  --black-1-1: #5c8a8a;
  --black-1-2: #090083;
  --black-2-1: #550055;
  --black-2-2: #CE93D8;
  --black-3-1: #66cc66;
  --black-3-2: #006600;

  --white-1-1: #700000;
  --white-1-2: #5e4c00;
  --white-2-1: #00352c;
  --white-2-2: #053600;
  --white-3-1: black;
  --white-3-2: #313131;
} 

body, html {
  transition: ease all 0.5s;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  color: var(--fg);
  font-size: 16px;
}

* {
  font-family: "Thasadith", "Noto Sans Arabic", monospace, arial;
}

h1, h2, h3, h4, h5, h6 {
  margin: 8px;
}

header {
  font-size: 2rem;
  text-align: center;
}

button {
  transition: ease 2s;
}

button:active {
  transition: ease 0.05s;
  color: transparent;
  border: 1px solid var(--t2);
  box-shadow: none;
}



li {
  margin-bottom: 1rem;
}

a {
  color: var(--fg);
  text-decoration: underline 1px var(--t2);
}

a:visited {
  color: var(--fg);
}

.tc {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.main-circle {
  border: solid 1px var(--fg);
  background-color: transparent;
  width: 80px;
  opacity: 1;
  z-index: 10;
  height: 80px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  transform-origin: center;
}

.main-circle-clicked {
  animation: main-circle-clicked 2s ease 1;
  animation-fill-mode: forwards;
}

.circle-container {
  display: grid;
  visibility: hidden;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items:center ;
  align-items: center;
  flex-direction: row;
  transform: rotate(45deg);  
  justify-content: center;
  z-index: 9;
  flex-wrap: wrap;
  width: 250px;
  height: 250px;
  background-color: transparent;
  opacity:0;
  transition: ease-out 1s;
}

 .c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9 {
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  border: var(--fg) solid 1px;
 }

.cd-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 15;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
  transition: ease-out 3s;
}

.cd-1-wrapper {
  transform: translate(-50%, -0%);
  top: 10px;
  left: 50%;
}

.cd-2-wrapper {
  transform: translate(-0%, -50%);
  top: 25%;
  right: 10px;
}

.cd-3-wrapper {
  transform: translate(-0%, 50%);
  bottom: 25%;
  right: 10px;
}

.cd-4-wrapper {
  transform: translate(-0%, -50%);
  top: 25%;
  left: 10px;
}

.cd-5-wrapper {
  transform: translate(-0%, 50%);
  bottom: 25%;
  left: 10px;
}

.cd-6-wrapper {
  transform: translate(-50%, -0%);
  bottom: 10px;
  left: 50%;
}

.cd-7-wrapper {
  transform: translate(-0%, -50%);
  top: 50%;
  left: 10px;
}

.cd-8-wrapper {
  transform: translate(-0%, -50%);
  top: 50%;
  right: 10px;
}

.cd-content {
  transition: ease 3s;
  color: var(--t1);
  display: none;
  transform: rotate(0deg) scale(0.4, 0.4);
  opacity: 0;
}

.cd-appeared {
  border: 1px solid transparent;
  width: 100px;
  box-sizing: border-box;
  height: 100px;
  background-color: var(--fg);
  animation: cd-appeared ease 3s forwards;
  transition: all ease-out 3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cd-clicked {
  transition: all ease 3s;
  animation: none;
  border-radius: 50%;
  background-color: transparent;
  border: solid 1px var(--t2);
}

.cd-preview {
  transition: all ease 3s;
  transform: rotate(315deg);
  border: solid 1px var(--t2);
  border-radius: 0px;
  box-shadow: 0px 0px 50px var(--t1);
}

.cd-wrapper-container {
  position: fixed;
  transition: ease-in-out all 3s;
  z-index: 0;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  min-height: 500px;
  min-width: 300px;
  max-width: 600px;
  margin: 0 auto;
}

.cd-wrapper-container-shrink {
  transition: ease-in-out all 3s;
  transform: rotate(90deg) scale(0.3, 0.3);
  min-height: 700px;
  top: -40%;
  bottom: 40%;
}

@media only screen and (max-height: 500px) {
  .cd-wrapper-container-shrink {
    top: -60%;
  }
}

@media only screen and (max-height: 300px) {
  .cd-wrapper-container-shrink {
    top: -80%;
  }
}

.content {
  display: none;
  max-width: 700px;
  font-size: 1rem;
}

.content-expanded {
  position: fixed;
  display: block;
  box-sizing: border-box;
  z-index: 20;
  margin: 0 auto;
  animation: content-expansion 3s forwards;
  transition: 3s all ease;
  min-width: 2px;

  opacity: 1;
  border: solid 1px var(--t2);
  box-shadow: 0px 0px 200px var(--t1);
  overflow-y: auto;

  top: 250px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  padding: 10px;
}

.content-expanded::-webkit-scrollbar {
  transition: all ease 1s;
  background-color: var(--bg);
  width: 7px;
}

.content-expanded::-webkit-scrollbar-thumb {
  background-color: var(--bg);
  border-left: 3px solid var(--t1);  
}

.content-div {
  color: var(--fg);
  opacity: 1;
  transition: all ease 2s;
  width: 100%;
}

button:hover {
  transition: ease 0.4s;
  color: transparent;
  border: 1px solid var(--t2);
  box-shadow: 0px 0px 80px var(--t1);
}