{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/styles/language/language.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Dosis:wght@200..800&display=swap" rel="stylesheet">
    <title>ٍEntrance of YeziTechie Portfolio | Full-Stack Web Developer</title>
  </head>
  <body>
    <div class="container">
      <div class="door-container">
        <div class="door">
          <div class="left-door"></div>
          <div class="right-door"></div>
        </div>
        <div class="key"></div>
      </div>

      <div class="language">
        <div class="l" onclick="
            setTimeout(() => {
              console.log('bib');
              window.location.href = '{% url 'persian_portfolio' %}';
            }, 2000);
          ">
          <div class="icon">
            <img src="{% static '/images/persian.jpg' %}" alt="English Flag">
          </div>
          <div class="text"><p>Persian</p></div>
        </div>
        <div class="l" onclick="
            setTimeout(() => {
              console.log('bib');
              window.location.href = '{% url 'english_portfolio' %}';
            }, 2000);
          ">
          <div class="icon">
            <img src="{% static '/images/english.jpg' %}" alt="English Flag">
          </div>
          <div class="text"><p>English</p></div>
        </div>
      </div>

    </div>

    <script src="{% static '/scripts/language/language.js' %}"></script>
  </body>
</html>