.contact-me .box {
  margin-top: 100px;
  display: flex; flex-direction: column; 
  justify-content: center; align-items: center;
  width: 100%;
}

.box .row {
  display: flex; flex-direction: row;
  justify-content: space-around; align-items: center;
  width: 100%;
}

.box .icon, .box .button {
  display: flex; flex-direction: column;
  justify-content: center; align-items:center;
}

.box .icon {
  width: 100px;
  height: 100px;
}

.github-icon {
  width: 60px;
  height: 60px;
}

.linkedin-icon {
  width: 46px;
  height: 46px;
}

.button button {
  border: 1px solid var(--t1);
  box-shadow: 0px 0px 80px var(--t2);
  padding: 10px;
  text-decoration: none;
  background-color: var(--bg);
  color: var(--fg);
}


.email {
  display: flex; flex-direction: column;
  justify-content: center; align-items: center;

  margin-top: 30px;
  row-gap: 20px;
}
