:root {
  --bg: black;
  --fg: rgb(216, 216, 216);
  --t1: rgb(105, 131, 179);
  --t2: rgb(26, 7, 107);

  /* --black-1-1: #2196F3;
  --black-1-2: #90CAF9;
  --black-2-1: #8E24AA;
  --black-2-2: #CE93D8;
  --black-3-1: #43A047;
  --black-3-2: #A5D6A7;

  --white-1-1: #1976D2;
  --white-1-2: #BBDEFB;
  --white-2-1: #6A1B9A;
  --white-2-2: #E1BEE7;
  --white-3-1: #2E7D32;
  --white-3-2: #C8E6C9; */

  --black-1-1: #2196F3;
  --black-1-2: #90CAF9;
  --black-2-1: #8E24AA;
  --black-2-2: #CE93D8;
  --black-3-1: #43A047;
  --black-3-2: #A5D6A7;

  --white-1-1: #000066;
  --white-1-2: #669999;
  --white-2-1: #6A1B9A;
  --white-2-2: #E1BEE7;
  --white-3-1: #2E7D32;
  --white-3-2: #C8E6C9;
} 

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  color: var(--fg);
  font-family: monospace;
  font-size: 16px;
  transition: ease all 0.5s;
}

h1, h2, h3, h4, h5, h6 {
  margin: 8px;
}

header {
  font-size: 2rem;
  text-align: center;
}

.tc {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.main-circle {
  border: solid 1px var(--fg);
  background-color: transparent;
  width: 80px;
  opacity: 1;
  z-index: 10;
  height: 80px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  transform-origin: center;
}

.main-circle-clicked {
  animation: main-circle-clicked 1s ease 1;
  animation-fill-mode: forwards;
}

.circle-container {
  display: grid;
  visibility: hidden;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items:center ;
  align-items: center;
  flex-direction: row;
  transform: rotate(45deg);  
  justify-content: center;
  z-index: 9;
  flex-wrap: wrap;
  width: 250px;
  height: 250px;
  background-color: transparent;
  opacity:0;
  transition: ease-out 1s;
}

 .c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9 {
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  border: var(--fg) solid 1px;
 }

.cd-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 15;
  align-items: center;
  text-align: center;
  font-size: 160%;
  transition: ease-out 3s;
}

.cd-1-wrapper {
  transform: translate(-50%, -0%);
  top: 10px;
  left: 50%;
}

.cd-2-wrapper {
  transform: translate(-0%, -50%);
  top: 25%;
  right: 10px;
}

.cd-3-wrapper {
  transform: translate(-0%, 50%);
  bottom: 25%;
  right: 10px;
}

.cd-4-wrapper {
  transform: translate(-0%, -50%);
  top: 25%;
  left: 10px;
}

.cd-5-wrapper {
  transform: translate(-0%, 50%);
  bottom: 25%;
  left: 10px;
}

.cd-6-wrapper {
  transform: translate(-50%, -0%);
  bottom: 10px;
  left: 50%;
}

.cd-7-wrapper {
  transform: translate(-0%, -50%);
  top: 50%;
  left: 10px;
}

.cd-8-wrapper {
  transform: translate(-0%, -50%);
  top: 50%;
  right: 10px;
}

.cd-content {
  transition: ease 3s;
  color: var(--t1);
  display: none;
  transform: rotate(0deg) scale(0.4, 0.4);
  opacity: 0;
}

.cd-appeared {
  border: 1px solid transparent;
  width: 100px;
  box-sizing: border-box;
  height: 100px;
  background-color: var(--fg);
  animation: cd-appeared ease 1s forwards;
  transition: all ease-out 3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cd-clicked {
  transition: all ease 3s;
  animation: none;
  border-radius: 50%;
  background-color: transparent;
  border: solid 1px var(--t2);
}

.cd-preview {
  transition: all ease 3s;
  transform: rotate(315deg);
  border: solid 1px var(--t2);
  border-radius: 0px;
  box-shadow: 0px 0px 50px var(--t1);
}

.cd-wrapper-container {
  position: fixed;
  transition: ease-in-out all 3s;
  z-index: 0;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  min-height: 500px;
  min-width: 300px;
  max-width: 600px;
  margin: 0 auto;
}

.cd-wrapper-container-shrink {
  transition: ease-in-out all 3s;
  transform: rotate(90deg) scale(0.3, 0.3);
  min-height: 700px;
  top: -40%;
  bottom: 40%;
}

@media only screen and (max-height: 500px) {
  .cd-wrapper-container-shrink {
    top: -60%;
  }
}

@media only screen and (max-height: 300px) {
  .cd-wrapper-container-shrink {
    top: -80%;
  }
}

.content {
  display: none;
  font-size: 1rem;
}

.content-expanded {
  position: fixed;
  display: block;
  box-sizing: border-box;
  z-index: 20;
  margin: 0 auto;
  animation: content-expansion 3s forwards;
  transition: 3s all ease;
  min-width: 2px;

  opacity: 1;
  border: solid 1px var(--t2);
  box-shadow: 0px 0px 200px var(--t1);
  overflow-y: auto;

  top: 250px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  padding: 10px;
}


.content-expanded::-webkit-scrollbar {
  transition: all ease 1s;
  background-color: var(--bg);
  width: 7px;
}

.content-expanded::-webkit-scrollbar-thumb {
  background-color: var(--bg);
  border-left: 3px solid var(--t1);  
}

.content-div {
  color: var(--fg);
  opacity: 1;
  transition: all ease 2s;
  width: 100%;
}


/* about me */

.call-to-contact-me {
  margin: 50px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.call-to-contact-me button {
  border: 1px solid var(--t1);
  box-shadow: 0px 0px 30px var(--t2);
  padding: 10px;
  background-color: var(--bg);
  color: var(--fg);
  font-weight: bold;
  font-size: 1.1rem;
}

.about-me {
  padding-top: 0;
}

.about-me .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-me .header .horizantol-line {
  width: 1px;
  height: 30px;
  margin: 10px 0px;
  background-color: var(--t2);
}

.position {
  background: -webkit-linear-gradient(left ,var(--t2), var(--t1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-me .vertical-line {
  width: 30px;
  height: 1px;
  margin: 10px auto;
  background-color: var(--t1);
}

/* contact me */

.contact-me .box {
  margin-top: 100px;
  display: flex; flex-direction: column; 
  justify-content: center; align-items: center;
  width: 100%;
}

.box .row {
  display: flex; flex-direction: row;
  justify-content: space-around; align-items: center;
  width: 100%;
}

.box .icon, .box .button {
  display: flex; flex-direction: column;
  justify-content: center; align-items:center;
}

.box .icon {
  width: 100px;
  height: 100px;
}

.github-icon {
  width: 60px;
  height: 60px;
}

.linkedin-icon {
  width: 46px;
  height: 46px;
}

.button button {
  border: 1px solid var(--t1);
  box-shadow: 0px 0px 80px var(--t2);
  padding: 10px;
  text-decoration: none;
  background-color: var(--bg);
  color: var(--fg);
}

a {
  text-decoration: underline 1px var(--t2);
}

a:visited {
  color: var(--fg);
}

.email {
  display: flex; flex-direction: column;
  justify-content: center; align-items: center;

  margin-top: 30px;
  row-gap: 20px;
}

/* download resume */

.download {
  display: flex; flex-direction: column;
  justify-content: center; align-items: center;
  row-gap: 20px;

  min-width: 160px;
  margin-top: 100px;
}

.download .title {
  min-width: max-content;
}

.download .button, .download .title {
  display: flex;flex-direction: column;
  justify-content: center; align-items: center;
  max-width: 160px;
  
  width: 100%;
}

.download .button button {
  width: 100%;
}

/* skills */

.skill-container {
  display: flex; flex-direction: column;
  justify-content: center; align-items: center;
  margin-top: 50px;
  width: 100%;
}

.skill {
  display: flex; flex-direction: column;
  justify-content: center; align-items: center;
  margin-bottom: 80px;
}

.technologies {
  display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: ease all 2s;
}

.tech-detail-container {
  display: flex; flex-direction: column; row-gap: 10px;
  justify-content: center; align-items: center;

  width: 100%; height: 100%;
  overflow: auto;
  margin-top: 15px;

  transform: scale(0.1, 0.1) rotate(360deg);
  transition: ease all 2s;
}

.tech-detail {
  width: 10px; height: 10px; box-sizing: border-box;
  border: 1px solid var(--t1);
  transition: ease 3s;
}

.tech-content {
  overflow:hidden;
  font-size: 1px;
  display: none;
  opacity: 0;
}

.tech-detail-expanded {
  width: 100%; height: 100%;
  border: 1px solid var(--t2);

}

.skill .name h2, .skill .tech h4 {
  transition: 0.7s ease-out all;
  border: 1px solid var(--t1);
  padding: 15px;
  text-align: center;
}

.skill .name h2.toggle, .skill .tech h4.toggle {
  transition: 1s ease-out all;
  border: 1px solid transparent;
  animation: playful-border-color 4s 1000 normal;
  animation-delay: 1s;
  padding: 15px;
  text-align: center;
}





/* Settings */

.black-white {
  display: flex; flex-direction: row; justify-content: center; align-items: center;
  width: 80%; height: 80px;
  margin: 100px auto;
}

.white, .black {
  width: 100%; height: 100%;
  display: flex; justify-content: center; align-items: center;
  font-size: 1.5rem; font-weight: bold;
  border-bottom: 1px solid var(--t1);
  transition: ease 2s all;
}

.white.toggle, .black.toggle {
  transform: scale(0.5, 0.5);
  filter: blur(4px);
  transition: ease 2s all;
}

.white {
  background-color: white; color: black;
}

.black {
  background-color: black; color: white;
}


.change-color-black, .change-color-white {
  display: flex; flex-direction: row; justify-content: space-around;
  width: 100%; height: 80px; margin-bottom: 50px;

}

.theme {
  display: flex; flex-direction: row; flex-wrap: wrap;
  transform: rotate(45deg);
  width: 60px; height: 60px; box-sizing: border-box;
}

.theme-square {
  width: 30px; height: 30px; box-sizing: border-box;
  background-color: var(--t1);
}

.black-1-1 {background-color: var(--black-1-1);}
.black-1-2 {background-color: var(--black-1-2);}
.black-2-1 {background-color: var(--black-2-1);}
.black-2-2 {background-color: var(--black-2-2);}
.black-3-1 {background-color: var(--black-3-1);}
.black-3-2 {background-color: var(--black-3-2);}

.white-1-1 { background-color: var(--white-1-1); }
.white-1-2 { background-color: var(--white-1-2); }
.white-2-1 { background-color: var(--white-2-1); }
.white-2-2 { background-color: var(--white-2-2); }
.white-3-1 { background-color: var(--white-3-1); }
.white-3-2 { background-color: var(--white-3-2); }







/* main */


button {
  transition: ease 2s;
}

button:active {
  transition: ease 0.05s;
  color: transparent;
  border: 1px solid var(--t2);
  box-shadow: none;
}

button:hover {
  transition: ease .4s;
  color: transparent;
  border: 1px solid var(--t2);
  box-shadow: 0px 0px 80px var(--t1);
}

li {
  margin-bottom: 1rem;
}


