:root {
  --bg: black;
  --fg: rgb(216, 216, 216);
  --t1: rgb(158, 48, 153);
  --t2: rgb(73, 170, 121);
} 

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  color: var(--fg);
  font-family: monospace;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.main-circle {
  border: solid 1px var(--fg);
  background-color: transparent;
  width: 80px;
  opacity: 1;
  z-index: 10;
  height: 80px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  transform-origin: center;
}

.main-circle-clicked {
  animation: main-circle-clicked 1s ease 1;
  animation-fill-mode: forwards;
}

.circle-container {
  display: grid;
  visibility: hidden;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items:center ;
  align-items: center;
  flex-direction: row;
  transform: rotate(45deg);  
  justify-content: center;
  z-index: 9;
  flex-wrap: wrap;
  width: 250px;
  height: 250px;
  background-color: transparent;
  opacity:0;
  transition: ease-out 1s;
}

 .c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9 {
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  border: var(--fg) solid 1px;
 }

.cd-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 15;
  align-items: center;
  text-align: center;
  font-size: 160%;
  transition: ease-out 3s;
}

.cd-1-wrapper {
  transform: translate(-50%, -0%);
  top: 10px;
  left: 50%;
}

.cd-2-wrapper {
  transform: translate(-0%, -50%);
  top: 25%;
  right: 10px;
}

.cd-3-wrapper {
  transform: translate(-0%, 50%);
  bottom: 25%;
  right: 10px;
}

.cd-4-wrapper {
  transform: translate(-0%, -50%);
  top: 25%;
  left: 10px;
}

.cd-5-wrapper {
  transform: translate(-0%, 50%);
  bottom: 25%;
  left: 10px;
}

.cd-6-wrapper {
  transform: translate(-50%, -0%);
  bottom: 10px;
  left: 50%;
}

.cd-7-wrapper {
  transform: translate(-0%, -50%);
  top: 50%;
  left: 10px;
}

.cd-8-wrapper {
  transform: translate(-0%, -50%);
  top: 50%;
  right: 10px;
}

.cd-content {
  transition: ease 3s;
  color: var(--t1);
  display: none;
  transform: rotate(0deg) scale(0.4, 0.4);
  opacity: 0;
}

.cd-appeared {
  border: 1px solid transparent;
  width: 100px;
  box-sizing: border-box;
  height: 100px;
  background-color: var(--fg);
  animation: cd-appeared ease 1s forwards;
  transition: all ease-out 3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cd-clicked {
  transition: all ease 3s;
  animation: none;
  border-radius: 50%;
  background-color: transparent;
  border: solid 1px var(--t2);
}

.cd-preview {
  transition: all ease 3s;
  transform: rotate(315deg);
  border: solid 1px var(--t2);
  border-radius: 0px;
  box-shadow: 0px 0px 50px var(--t1);
}

.cd-wrapper-container {
  position: fixed;
  transition: ease-in-out all 3s;
  z-index: 0;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  min-height: 500px;
  min-width: 300px;
  max-width: 600px;
  margin: 0 auto;
}

.cd-wrapper-container-shrink {
  transition: ease-in-out all 3s;
  transform: rotate(90deg) scale(0.3, 0.3);
  min-height: 700px;
  top: -40%;
  bottom: 40%;
}

@media only screen and (max-height: 500px) {
  .cd-wrapper-container-shrink {
    top: -60%;
  }
}

@media only screen and (max-height: 300px) {
  .cd-wrapper-container-shrink {
    top: -80%;
  }
}

.content {
  display: none;
  font-size: 20px;
}

.content-expanded {
  position: fixed;
  display: block;
  box-sizing: border-box;
  z-index: 20;
  margin: 0 auto;
  animation: content-expansion 3s forwards;
  transition: 3s all ease;
  min-width: 2px;

  opacity: 1;
  border: solid 1px var(--t2);
  box-shadow: 0px 0px 200px var(--t1);
  overflow: auto;
  
  max-width: 800px;
  top: 250px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  padding: 10px;
}


.content-expanded::-webkit-scrollbar {
  transition: all ease 1s;
  background-color: var(--bg);
  width: 7px;
}

.content-expanded::-webkit-scrollbar-thumb {
  background-color: var(--bg);
  border-left: 3px solid var(--t1);  
}

.content-div {
  color: var(--fg);
  opacity: 0;
  transition: all ease 2s;
}


/* about me */

.call-to-contact-me {
  margin: 50px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.call-to-contact-me button {
  border: 1px solid var(--t1);
  box-shadow: 0px 0px 30px var(--t2);
  padding: 10px;
  background-color: var(--bg);
  color: var(--fg);
  font-weight: bold;
  font-size: 22px;
}

.about-me {
  padding-top: 0;
}

.about-me .header {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-me .header .name {
  font-size: 26px;
}

.about-me .header .horizantol-line {
  width: 1px;
  height: 30px;
  margin: 10px 0px;
  background-color: var(--t2);
}

.about-me .header .position {
  font-size: 20px;
  background: -webkit-linear-gradient(left ,var(--t2), var(--t1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-me .vertical-line {
  width: 30px;
  height: 1px;
  margin: 10px auto;
  background-color: var(--t1);
}

/* contact me */

.contact-me .box {
  margin-top: 100px;
  display: flex; flex-direction: column; 
  justify-content: center; align-items: center;
  width: 100%;
}

.box .row {
  display: flex; flex-direction: row;
  justify-content: center; align-items: center;
  width: 100%;

}

.box .icon, .box .title, .box .button {
  width: 100px; height: 100px;
  text-align: center;
  padding: auto;
  display: flex;
  flex-direction: column;
  justify-content: center; align-items: center;
}

.github-icon {
  width: 60px;
  height: 60px;
}

.linkedin-icon {
  width: 50px;
  height: 50px;
}

.button a, .button button {
  border: 1px solid var(--t1);
  box-shadow: 0px 0px 80px var(--t2);
  padding: 10px;
  text-decoration: none;
  background-color: var(--bg);
  color: var(--fg);
  font-size: 16px;
}

a:visited {
  color: var(--fg);
}

.email {
  display: flex; flex-direction: column;
  justify-content: center; align-items: center;

  margin-top: 30px;
  row-gap: 20px;
}

/* download resume */

.download-resume .header {
  font-size: 26px;
  text-align: center;
}

.download {
  display: flex; flex-direction: column;
  justify-content: center; align-items: center;
  row-gap: 20px;

  min-width: 160px;
  margin-top: 100px;
}

.download .title {
  min-width: max-content;
}

.download .button, .download .title {
  display: flex;flex-direction: column;
  justify-content: center; align-items: center;
  max-width: 160px;
  
  width: 100%;
}

.download .button button {
  width: 100%;
}


button {
  transition: ease 2s;
}

button:active {
  transition: ease 0.05s;
  color: transparent;
  border: 1px solid var(--t2);
  box-shadow: none;
}

button:hover {
  transition: ease .4s;
  color: transparent;
  border: 1px solid var(--t2);
  box-shadow: 0px 0px 80px var(--t1);
}