.download {
  display: flex; flex-direction: column;
  justify-content: center; align-items: center;
  row-gap: 20px;

  min-width: 160px;
  margin-top: 100px;
}

.download .title {
  min-width: max-content;
}

.download .button, .download .title {
  display: flex;flex-direction: column;
  justify-content: center; align-items: center;
  max-width: 160px; width: 100%;
}

.download .button button {
  width: 100%;
}
