.skill-container {
  display: flex; flex-direction: column;
  justify-content: center; align-items: center;
  margin-top: 50px;
  width: 100%;
}

.skill {
  display: flex; flex-direction: column;
  justify-content: center; align-items: center;
  margin-bottom: 80px;
}

.technologies {
  display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: ease all 2s;
}

.tech-detail-container {
  display: flex; flex-direction: column; row-gap: 10px;
  justify-content: center; align-items: center;

  width: 100%; height: 100%;
  overflow: auto;
  margin-top: 15px;

  transform: scale(0.1, 0.1) rotate(360deg);
  transition: ease all 2s;
}

.tech-detail {
  width: 10px; height: 10px; box-sizing: border-box;
  border: 1px solid var(--t1);
  transition: ease 3s;
}

.tech-content {
  overflow:hidden;
  font-size: 1px;
  display: none;
  opacity: 0;
}

.tech-detail-expanded {
  width: 100%; height: 100%;
  border: 1px solid var(--t2);

}

.skill .name h2, .skill .tech h4 {
  transition: 0.7s ease-out all;
  border: 1px solid var(--t1);
  padding: 15px;
  text-align: center;
}

.skill .name h2.toggle, .skill .tech h4.toggle {
  transition: 1s ease-out all;
  border: 1px solid transparent;
  animation: playful-border-color 4s 1000 normal;
  animation-delay: 1s;
  padding: 15px;
  text-align: center;
}
